model_config_list: {
  config: {
    name: "coco_model",
    base_path: "{PATH_COCO_MODEL}",
    model_platform: "tensorflow"
  },
  config: {
    name: "pets_model",
    base_path: "{PATH_PET_MODEL}",
    model_platform: "tensorflow"
  },
  config: {
    name: "people_model",
    base_path: "{PATH_PEOPLE_MODEL}",
    model_platform: "tensorflow"
  },
}



